.registerForm {
  display: grid;
  grid-template-columns: 300px 300px;
  margin: 0px 15%;
}
.registerForm label {
  justify-self: end;
  margin: 5px;
}

.registerForm input {
  justify-self: start;
  margin: 5px;
}
.registerForm input[type=text] {
  width: 100%;
}

.registerForm select {
  justify-self: start;
  margin: 5px;
}
